// Custom styles.

// 主页文章添加阴影效果
.post {
   margin-top: 0px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

code {
    color: #ff7600;
    background: #fbf7f8;
    margin: 2px;
}

// 边框的自定义样式
.highlight, pre {
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
}
.highlight, code, pre {
    border: 1px solid #d6d6d6;
}

// 站点名背景
.brand{
    background-color: rgba(255, 255, 255, 0);
    margin-top: 15px;
    padding: 0px;
}

// 站点名字体
.site-title {
    font-size: 60px;
    font-weight: normal;
    color: rgb(255, 255, 255);
    line-height: 80px;
    letter-spacing: 3px;
}

// 菜单
.menu {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 450px;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
}

// 菜单超链接字体大小
.menu .menu-item a {
    font-size: 15px;
}

// 菜单各项边距
.menu .menu-item {
    margin: 0px 10px;
}